[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "sh -c 'PYTHONPATH=./src python -m unittest src.main_test -v'"
clean = "sh -c 'rm -rf ~/tmp/testRepo'"
setup = "sh -c 'pipenv run clean && mkdir -p ~/tmp/testRepo && cd ./test/repo && cp -r . ~/tmp/testRepo'"
local = "sh -c 'pipenv run setup && SPECIFICATIONS_FOLDER=./test/repo/.stage0_template/test_data REPO_FOLDER=~/tmp/testRepo SERVICE_NAME=user DATA_SOURCE=organization PYTHONPATH=./src python -m main'"
build = "docker build --tag ghcr.io/agile-learning-institute/stage0_runbook_merge:latest ."
merge = "sh -c 'pipenv run build &&pipenv run setup && cd ./test/repo && ./.stage0_template/test'"

[packages]
pyyaml = "*"
jinja2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
